<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ahmedur Rahman Shovon">
    <title>Dropdown Example</title>
</head>
<body>
  <p>Please select filters from the list.</p>
  <form id="form1" method="POST" enctype="multipart/form-data">
  	<table>
  		<tr>
  			<th>
  				<p>Regions</p>
  				<select id="mySelect1" name = "Region">
			   	{% for region in regions %}
			    	<option value = "{{region}}">{{ region }}</option>"
			    {% endfor %}
			    </select>
    			
  			</th>
  			<th>
  				<p>Identity</p>
  				<select id="mySelect2" name = "Identity">
			   	{% for identity in identities %}
			    	<option value = "{{identity}}">{{ identity }}</option>"
			    {% endfor %}
			    </select>
			    
  			</th>	
  			<th>
  				<p>Sex</p>
  				<select id="mySelect3" name = "Sex">
			   	{% for sex in sexs %}
			    	<option value = "{{sex}}">{{ sex }}</option>"
			    {% endfor %}
			    </select>
			    
  			</th>
  			<th>
  				<p>Age</p>
				<select id="mySelect4" name = "Age">
			   	{% for age in ages %}
			    	<option value = "{{age}}">{{ age }}</option>"
			    {% endfor %}
			    </select>
			    
  			</th>

        <th>
          <p>City, Province, Country</p>
          <select id="mySelect5" name = "City">
          {% for city in cities %}
            <option value = "{{city}}">{{ city }}</option>"
          {% endfor %}
          </select>
          
        </th>
  		</tr>
  	</table>
    <br>
  	<input type="submit" name = "submit" value="Submit">
    <input type="submit" name = "submit" value="Heatmap">
  </form>
  
  <p></p>
  <div id="result">
    {% if showHeatmap == 1 %}
        <iframe id="serviceFrameSend" src = {{ url_for('static', filename='results/Heatmap.html') }} width="1000" height="600"  frameborder="0">
  	{% elif resultfig != None %}
        <img src = "data:image/png;base64,{{ resultfig }}" width="1000" height="600" >
    {% endif %}
  </div>
  
</body>
</html>
